<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us -Del Monte</title>
  <link rel="stylesheet" href="Bags_accesories.css">

  
                
  
</head>
<body>

    <header>
        <nav>
           
            <div class="heading">
                <pre>Contact Us      Services</pre>
                <h1> Del Monte</h1> 
             
            
            <a href="#" class="search-icon">
            <img src="search_icon.png" alt ="Search Icon" style="width:30px; height:30px;">
            </a>
          </div>
            
        </nav>

        <div id="N1" >
            <p style="font-size:40px;">BAGS & ACCESORIES</p>
        </div>
    </header>
    
    <body class="bags">
       <div id="bags1">
     

      <section id="J1">
        <img src="img4.jpg" alt="black serpant" height="450px" width="400px">
        <P>Black Serpant</P>
        <P>₹7,45,000</P>
      </section>

      <section id="J2">
        <img src="b2.webp" alt="glares" height="450px" width="400px">
        <P>Glares</P>
        <P>₹25,000</P>
     </section>

      <section id="J3">
        <img src="img5.avif" alt="White grape" height="450px" width="400px">
        <P>White Grape</P>
        <P>₹15,12,000</P>
    </section>

    </div>

    <div id="bags2">

        <section id="J5">
            <img src="img6.jpg_large" alt="Emerald Green" height="450px" width="400px">
            <P>Emerald Green</P>
            <P>₹8,70,000</P>
          </section>

     <section id="J4">
      <img src="b3.avif" alt="Scarf"
      height="450px" width="400px">
      <P>Head Scarf</P>
      <P>₹11,66,000</P>
   </section>

   

   <section id="J6">
     <img src="b4.webp" alt="pink venom" height="450px" width="400px">
     <P>Pink Venom</P>
     <P>₹9,95,700</P>
   </section>
  
 

    </div>

    
  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Del Monte. All rights reserved.</p>
  </footer>
</body>
</html>