<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us -Del Monte</title>
  <style>
   nav{
    display:flex;
}

*{
    box-sizing: border-box;
  }

.heading{
    display:flex;
    position:sticky;
    top:0;
    align-items:center;
    background-color:rgb(255, 255, 254);
    width:100%;
    padding:8px;
    height:80px;
   
}

.heading:hover{
    background-color:rgb(230, 229, 229);
    
}

h1{
  
    text-align:center;
    width:62%;
    font-size:55px;
    font-family:Lucida Calligraphy ;
    height:70px;
  }

pre{
     text-align:left;
    font-size:25px;
    font-family:'Times New Roman', Times, serif ;
    height:30px;
    padding-left:20px;
 }
 
 .search-icon {
  margin-left:80px;
  padding:25px;
 }

 .login-icon{
  height:28px;
  margin-left:20px;
  margin-bottom:10px;
 }

 #V1{
  margin-top:-20px;
  padding:0px;
}

.Menu{
   display:flex;
   text-align:center;
   align-items:center;
   justify-content: space-between;
    width:100%;
    font-size:25px;
    font-family:Bahnschrift Light SemiCondensed ;
    height:60px;
    margin-top:0px;
    border-style:none none solid none;
    border-color:rgb(226, 225, 225);
}

a{
  text-decoration: none;
    color:black;
}
#T1, #T2, #T3{
  text-align:center;
  margin-top:40px;
  font-size:22px;
  font-family:Bahnschrift Light SemiCondensed ;
  
}

#T3{
  padding-bottom: 20px;
  border-bottom: 3px solid;
  border-color:rgb(210, 209, 209);
}

.Jewelry{
  display:flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-top:50px;
  margin-left:125px;
  margin-right:125px;
}

.Bags{
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    gap:-50px;
  justify-content: space-between;
  align-items: center;
  margin-left:125px;
  margin-right:125px;
 padding-top:50px;
}

footer{
  background-color: black;
  color:white;
  height: 80px;
  font-size: 25px;
  text-align: center;
  margin-top:20px;
  padding-top:3px;
}
  </style>

 
  
</head>
<body>

    <header>
        <nav>
           
            <div class="heading">
              
                <pre><a href="homepg.html" class="home"> Home Page</a>        <a href="#" class="services">Services</a> </pre>
                <h1> Del Monte</h1> 
               
            <a href="#" class="search-icon">
            <img src="search_icon.png" alt ="Search Icon" style="width:30px; height:30px;">
            </a>

            <a href="login.html" class="login-icon">
              <img src="login2.png" alt ="Login Icon" style="width:40px; height:40px;">
              </a>
          </div>
            
        </nav>
    </header>

    <div class="Menu">
      &nbsp;&nbsp;<a href="/Jewelry">Jewelry</a> 
      <a href="/watches">Watches</a> 
      <a href="/Bags_accesories">Bags &Accesories</a>
      <a href="#">Creations</a>&nbsp;&nbsp;
    </div>
  
    <br>
    <div class="video" id="V1">
      <video width="100%"
      height="700px" autoplay muted>
      <source src="watch.mp4" type="video/mp4">
      </video>
    </div>
    
    <div id="T1">
      Timeless, classic, elegant
    </div>
    
    <div class="Jewelry">

      <section id="J1">
         <img src="img1.avif" alt="Bracelet" height="450px" width="400px">
      </section>

      <section id="J2">
        <img src="img2.jpg" alt="High Jewlery" height="450px" width="400px">
      </section>

      <section id="J3">
        <img src="img3.jpg" alt="Necklace" height="450px" width="400px">
      </section>
    </div>

    <div id="T2">
      Made with love, care and remarkable craftmanship.
    </div>

    <div class="Bags" >
    
     <section id="B1">
      <img src="img4.jpg" alt="Serpent_black"
      height="450px" width="400px">
   </section>

   <section id="B2">
     <img src="img5.avif" alt="Serpant_White" height="450px" width="400px">
   </section>

   <section id="B3">
    <img src="img6.jpg_large" alt="Serpant_green" height="450px" width="400px">
  </section>

    </div>

    <div id="T3">
      Where Timeless beauty comes alive ,elevate Your Presence with lasting opulence make with excellect craftmenship.
    </div>

    
  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Del Monte. All rights reserved.</p>
  </footer>

  
</body>
</html>