<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us -Del Monte</title>
  <link rel="stylesheet" href="Jewelry.css">

 
  
</head>
<body>

    <header>
        <nav>
           
            <div class="heading">
                <pre>Contact Us      Services</pre>
                <h1> Del Monte</h1> 
             
            
            <a href="#" class="search-icon">
            <img src="search_icon.png" alt ="Search Icon" style="width:30px; height:30px;">
            </a>
          </div>
            
        </nav>

        <div id="N1" >
            <p style="font-size:40px;">JEWELRY</p>
        </div>
    </header>
    
    <body class="Jewelry">
       <div id="Jewelry1">
      <section id="J1">
         <img src="img1.avif" alt="Bracelet" height="450px" width="400px">
         <P>Gold Bracelet</P>
         <P>₹4,25,000</P>
      </section>

      <section id="J2">
        <img src="img6.avif" alt="High Jewlery" height="450px" width="400px">
        <P>Blue Lagoon</P>
        <P>₹24,35,000</P>
      </section>

      <section id="J3">
        <img src="img3.jpg" alt="Necklace" height="450px" width="400px">
        <P>The Meditarrian</P>
        <P>₹8,70,000</P>
      </section>
    </div>

    <div id="Jewelry2">

     <section id="J4">
      <img src="img2.jpg" alt="Blue_stone"
      height="450px" width="400px">
      <P>Classic Bliss</P>
      <P>₹28,70,000</P>
   </section>

   <section id="J5">
     <img src="img7.jpg" alt="Rings" height="450px" width="400px">
     <P>De Love</P>
     <P>₹5,95,700</P>
   </section>

   <section id="J6">
    <img src="img8.jpg" alt="Serpant_green" height="450px" width="400px">
    <P>Divas' Dream</P>
    <P>₹22,42,000</P>
  </section>

    </div>

    

    
  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Del Monte. All rights reserved.</p>
  </footer>
</body>
</html>